*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    min-width: 100%;
    background-color:rgb(7, 7, 49);
    background-image: url("../static/images/Primary.svg"), url("../static/images/Planet Primary.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 65%, 75%;
    background-position: -80% 190%, 200% -175%;
}
nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 20%;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #E4B6A5;
    text-decoration: none;
    font-size:150%;
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background-color: #E4B6A5;
    display: block;
    margin: auto;
    transition: 0.25s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 70%;
    color: #E4B6A5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.text-box h1{
    font-size: 500%;
}
.text-box p{
    font-size: 300%;
}
.primary img{
    width: 30%;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(-25%, -25%);
}
